*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.color{
     background-color: rgba(255, 255, 255, 0.486) !important; 
}

.nav-item>a{
     color: rgb(78, 78, 78) !important;
}

.brand-block{
     width:200px;
}
.brand>img{
     width: 150px;
     height:auto;
}
p,a{
     font-family: 'Roboto',Arial,sans-serif;
}

ul>li>a{
     font-weight: 500;
}
.social-buttons{
     /* margin: 10px;  */
     padding-left: 0px;
}
.social-buttons>li>a>i{
     font-size: 20px;
}

.collaps-items-set-middle{
     display: flex;
     justify-content: center;
     align-items: center;
}

.main-text>h6{
     color:white;
     font-weight: 500;
     letter-spacing: 3.2px;
     margin-bottom: 10px;
     
}
.main-text>h1{
     color: white;
     font-weight: 900;
     font-size: 60px;
     letter-spacing: 3.2px;
     margin-top: 65px;
     text-align: center;
     
}
.main-text>h3{
     color: white;
     font-weight: 200;
     font-size: 25px;
     text-align: center;
     margin-top: 15px;
}
strong{
     font-weight: 900;
}
.what-is{
     margin: 5% 20% 5% 20%;
     font-size: 20px;
}

.photo-lviv-legal-hackers{
     position: relative;
}
.photo-lviv-legal-hackers>img{
width: 100%;
z-index: 0;
}

.black-text-box{
     color: white;
     width: 400px;
     height: auto;
     background-color: black;
     padding: 20px;
     position: absolute;
     z-index: 1;
     left:50%;
     top:60%;
}

.d-block {
     margin: 0 auto;
     width: 60%;
}

hr{
     margin: 5% 10% 5% 10%;
}

.carousel-control-prev> img {
     background-image: none;
     width: 35%;
     height: auto;
     color: black;
}
.carousel-control-next> img{
     background-image: none;
     width: 35%;
     height: auto;
     color: black;
}

.organizers{
     margin-top: 10%;
}
.organizers>h1{
     font-family: 'Roboto',Arial,sans-serif;
     color: black;
     text-align: center;
     letter-spacing: 3.2px;
}


.organizer-grid{
     margin: 5% 10% 5% 10%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(270px,1fr)) ;
     grid-gap: 1.5vw;
     justify-content: center;
}


.organizer-card{
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     flex-direction: column;
     letter-spacing: 2px;
}

.organizer-card>a{
     font-size: 15px;
}

.organizer-card>p{
     margin-top:5% ;
     font-size: 20px;
     color: black;
}

.organizer-links{
     width: 45%;
     display: flex;
     justify-content: space-around;
}

.organizer-links>a>i{
     font-size: 20px;
     color: grey;
}

.organizer-link:hover{
     transform: scale(1.2);
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -ms-transform: scale(1.2);
     -o-transform: scale(1.2);
}
.organizer-links>a>i:hover{
     color: black;
}

.partner-photo1{
     width: 50%;
     height: 70%;
}

.partner-photo2{
     width: 20%;
     height: auto;
}

.general-international-mass-partners-student-grid{
     margin: 5% 5% 0% 5%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(270px,1fr)) ;
     grid-gap: 1vw;
     justify-content: center;
     align-items: center;
}

.general-international-mass-partners-grid-student {
     margin-top: 5%;
}

.international-partner-photo-block{
     width: 100%;
     display: flex;
     height: auto;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.international-partner-photo-block>a{
     margin-top: 5%;
     color: rgb(219, 131, 99);
     font-size: 25px;
     letter-spacing:3.2px;
}

footer {
     background-color: #111111;
     text-align: center;
     margin-top: 40px;
     height: 330px;
}

.footer-logo {
     margin: 60px 0 60px 0;
}

.footer-text {
     color: rgb(114, 114, 114);
     margin-bottom: 20px;
     font-family: 'Open Sans', sans-serif;
}

.comm-img {
     object-fit: cover;
     object-position: 0 74%;
     width: 500px;
     height: 350px;
     margin-left: -30px;
     z-index: 0;
}

.join-community {
     margin-top: 7%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.comm-text-block {
     width: 450px;
     height: 350px;
     background-color: rgb(239, 239, 239);
     margin: 50px 0 0 0;
     padding: 40px;
     z-index: 1;
}

.comm-text-block>p {
     font-size: 40px;
     font-weight: bold;
     margin-bottom: 4rem;
}

.comm-text-block>a {
     text-decoration: none;
     color: white;
     background-color: #ff1f1f;
     padding: 20px 40px;
     font-size: 20px;
     font-weight: 700;
     margin-top: 50px;
}

.comm-text-block>a:hover {
     background-color: #cc1717;
}







@media (max-width:990px){
     .nav-item>a{
          color: rgb(0, 0, 0) !important;
     }
     .black-text-box{
          left:40%;
          top:50%;
     }
     .comm-text-block{
          width: 500px;
          margin-bottom: 20px;
     }
     .comm-img {
          margin: 0;
     }
}

@media (max-width:720px){
     .main-text>h1{
          margin-top: 20px;
          font-size: 30px;
     }
     .main-text>h3{
          font-size: 15px;
     }
     .black-text-box{
          left:20%;
          top:30%;
     }
}

@media (max-width:500px){
     .main-text>h1{
          margin-top: 5px;
          font-size: 30px;
     }
     .main-text>h3{
          font-size: 15px;
          margin-top: 5px;
     }
     .main-text>h6{
          margin-bottom: 0px;
     }
     .black-text-box{
          left:10%;
          top:15%;
     }
}

